---
layout: default
title: アーカイブ
---

<h1>日々のアーカイブ</h1>

<div class="blog-container">
  <!-- サイドバー -->
  <aside ="sidebar">
    <h2>アーカイブ</h2>
    <ul>
      {% for post in site.posts %}
        <li><a href="{{ post.url }}">{{ post.date | date: "%Y-%m-%d" }}</a></li>
      {% endfor %}
    </ul>
  </aside>

  <!-- メインコンテンツ -->
  <main ="content">
    {% for post in site.posts %}
      <article>
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <p><small>{{ post.date | date: "%Y-%m-%d" }}</small></p>
        <div>{{ post.excerpt }}</div>
      </article>
    {% endfor %}
  </main>
</div>
