<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/archive-site/assets/css/style.css' | relative_url }}">
</head>
<body>
  <header>
  <img src="/archive-site/image/usatv-moji-LOGO.png" alt="うさTVロゴ" class="site-logo">
    <button class="menu-toggle">☰</button>
  <!-- スマホ用ハンバーガーボタン -->
  <button class="menu-toggle" aria-label="メニューを開く">☰</button>
</header>

  <main class="main-container">
    {{ content }}
  </main>
  
  <footer>
    <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}</p>
  </footer>

  <script src="{{ '/archive-site/assets/js/menu.js' | relative_url }}"></script>
</body>
</html>
