<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>

  <!-- メインCSS -->
  <link rel="stylesheet" href="{{ 'https://mofu.rabbitflowerdiary.com/archive-site/assets/css/style.css' | relative_url }}">
  

</head>
<body>
  <header>
    <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
      <!-- ★ ハンバーガーメニューのボタン -->
  <button class="menu-toggle">☰</button>
  </header>



  <main class="main-container">
    {{ content }}
  </main>

  <!-- ★ サイドバー -->
  <aside class="sidebar">
    <h2>アーカイブ</h2>
    <ul>
      <li><a href="#">2025-09-13</a></li>
      <li><a href="#">2025-09-12</a></li>
    </ul>
  </aside>


  <footer>
    <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}</p>
  </footer>
<script src="https://mofu.rabbitflowerdiary.com/archive-site/assets/js/menu.js?v=3"></script>



</body>
</html>

